<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Scratch++ 登录 </title>

    <link rel='stylesheet' href='/stylesheets/forgetPasswordForm.css'/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap-theme.css"/>

    <script src="/plugins/jquery-3.2.1.min.js"></script>
    <script src="/plugins/jquery.arctext.js"></script>
    <script src="/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/javascripts/login.js"></script>
    <script src="/javascripts/ajaxRender.js"></script>

</head>
<body>

<div id="idForgetPasswordForm">
    <form>
        <div class="divFormHeader">
            <p class="pCross">X</p>
            <p class="pFormHeaderText" onclick="toLogin()">忘记密码</p>
        </div>
        <div id="idLine2" class="divLine"></div>
        <br/>
        <div class="divInputBlanks">
            <p class="pLoginReminder">邮箱/手机号码</p>
            <input class="inputText" type="text" name="email_cellphone"/>
            <p class="pLoginReminder">验证码</p>
            <div class="divSendVerifyCode">发送验证码</div>
            <input id="idVerifyCode" class="inputText" type="text" name="verify_code"/>
            <p class="pLoginReminder">新密码</p>
            <input class="inputText" type="password" name="new_password"/>
            <p class="pLoginReminder">确认密码</p>
            <input class="inputText" type="password" name="new_password_"/>
        </div>
        <div class="divSubmit">
            <button class="buttonSubmit" type="submit">确认</button>
        </div>
    </form>
</div>


</body>
</html>
