<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Scratch++ 登录 </title>

    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap-theme.css"/>
    <script src="/plugins/jquery-3.2.1.min.js"></script>
    <script src="/plugins/jquery.arctext.js"></script>

    <link rel='stylesheet' href='/stylesheets/header.css'/>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/login.js"></script>
</head>
<body onload="initHeader()">

<div class="divMascot">
    <img id="idMascot" class="imgMascot" src="images/mascot.png"/>
</div>

<div class="divHeader">
    <div>
        <ul class="ulHeader">
            <li><p class="pTitle">Scratch++</p></li>
            <li><a class="aGuidance" href="#top">首页</a></li>
            <li><a class="aGuidance" href="#top">课程</a></li>
            <li>
                <img id="idMascot_" class="imgMascot" src="images/mascot.png"/>
            </li>
            <li><a class="aGuidance" href="#top">作品集</a></li>
            <li><a class="aGuidance" href="#top">创作</a></li>
            <li class="liUser">
                <span class="spanUser"><a href="http://localhost:3000/login">登录</a>/<a onclick="toRegister()" href="http://localhost:3000/login">注册</a></span>
                <img class="imgPortrait" src="images/testImg.jpg"/>
            </li>
        </ul>
    </div>
</div>


</body>
</html>
