<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Scratch++ 登录 </title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap-theme.css"/>

    <script src="/plugins/jquery-3.2.1.min.js"></script>
    <script src="/plugins/jquery.arctext.js"></script>
    <script src="/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/javascripts/login.js"></script>
    <script src="/javascripts/registerForm.js"></script>

</head>
<body>

<div id="idHeader">
    <%include header.ejs%>
</div>

<br/>
<br/>

<div id="idMainBody">
    <div id="idHomepageTop">
        <%include homepageTop.ejs%>
    </div>
    <div id="idHomepageMiddle">
        <%include homepageMiddle.ejs%>
    </div>
    <div id="idHomepageBottom">
        <%include homepageBottom.ejs%>
    </div>
</div>

<div id="idFooter">
    <%include homepageFooter.ejs%>
</div>

</body>
</html>
