<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Scratch++ 登录 </title>

    <link rel='stylesheet' href='/stylesheets/homepageFooter.css'/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap-theme.css"/>

    <script src="/plugins/jquery-3.2.1.min.js"></script>
    <script src="/plugins/jquery.arctext.js"></script>
    <script src="/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

</head>
<body>

<div id="idHomepageFooter">
    <div class="row">
        <div class="divFooterLeft col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h4 class="h4FooterSubTitle">关于我们</h4>
            <p class="pFooterText">Scratch++旨在推广我国儿童编程，给孩子提供学习编程思维、编程语言，以及给孩子们一个分享交流学习心得与成果的平台</p>

        </div>
        <div class="divFooterRight col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h4 class="h4FooterSubTitle">联系我们</h4>
            <img class="imgQRCode" src="images/testImg.jpg"/>
        </div>
    </div>
</div>



</body>
</html>
