<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Scratch++ 登录 </title>

    <link rel='stylesheet' href='/stylesheets/homepageBottom.css'/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap-theme.css"/>

    <script src="/plugins/jquery-3.2.1.min.js"></script>
    <script src="/plugins/jquery.arctext.js"></script>
    <script src="/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

</head>
<body>

<div class="divHomepageBottom container">
    <div class="divBestUsers">
        <div class="row">
            <p class="pSubTitle col-xs-6 col-sm-4 col-md-2 col-md-offset-1 col-lg-offset-1">大触出没</p>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1"><img class="imgBestUser" src="images/testImg.jpg"/></div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2"><img class="imgBestUser" src="images/testImg.jpg"/></div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2"><img class="imgBestUser" src="images/testImg.jpg"/></div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2"><img class="imgBestUser" src="images/testImg.jpg"/></div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2"><img class="imgBestUser" src="images/testImg.jpg"/></div>
        </div>
    </div>

</div>

</body>
</html>
