<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Scratch++ 登录 </title>

    <link rel='stylesheet' href='/stylesheets/homepageMiddle.css'/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap-theme.css"/>

    <script src="/plugins/jquery-3.2.1.min.js"></script>
    <script src="/plugins/jquery.arctext.js"></script>
    <script src="/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

</head>
<body>

<div class="divHomepageMiddle container">
    <div class="divCourses">
        <div class="row">
            <p class="pSubTitle col-xs-6 col-sm-4 col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1">热门好课</p>
        </div>
        <div class="row">
            <div class="divCourseInfo col-xs-6 col-sm-4 col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1">
                <img class="imgCourse" src="images/testImg.jpg"/>
                <div class="divCourseIntro">
                    <p class="pCourseIntro">适合7-9岁儿童，入门</p>
                </div>
            </div>
            <div class="divCourseInfo col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <img class="imgCourse" src="images/testImg.jpg"/>
                <div class="divCourseIntro">
                    <p class="pCourseIntro">适合7-9岁儿童，入门</p>
                </div>
            </div>
            <div class="divCourseInfo col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <img class="imgCourse" src="images/testImg.jpg"/>
                <div class="divCourseIntro">
                    <p class="pCourseIntro">适合7-9岁儿童，入门</p>
                </div>
            </div>
            <div class="divCourseInfo col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <img class="imgCourse" src="images/testImg.jpg"/>
                <div class="divCourseIntro">
                    <p class="pCourseIntro">适合7-9岁儿童，入门</p>
                </div>
            </div>
            <div class="divCourseInfo col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <img class="imgCourse" src="images/testImg.jpg"/>
                <div class="divCourseIntro">
                    <p class="pCourseIntro">适合7-9岁儿童，入门</p>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <br/>

    <div class="divWorks">
        <div class="row">
            <p class="pSubTitle col-xs-6 col-sm-4 col-md-2 col-md-offset-1 col-lg-offset-1">优秀作品</p>
        </div>
        <div class="row">
            <div class="divWorkInfo col-xs-6 col-sm-4 col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1">
                <img class="imgWork" src="images/testImg.jpg"/>
                <div class="divWorkIntro">
                    <p class="pWorkIntro">消消乐</p>
                </div>
            </div>
            <div class="divWorkInfo col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <img class="imgWork" src="images/testImg.jpg"/>
                <div class="divWorkIntro">
                    <p class="pWorkIntro">消消乐</p>
                </div>
            </div>
            <div class="divWorkInfo col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <img class="imgWork" src="images/testImg.jpg"/>
                <div class="divWorkIntro">
                    <p class="pWorkIntro">消消乐</p>
                </div>
            </div>
            <div class="divWorkInfo col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <img class="imgWork" src="images/testImg.jpg"/>
                <div class="divWorkIntro">
                    <p class="pWorkIntro">消消乐</p>
                </div>
            </div>
            <div class="divWorkInfo col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <img class="imgWork" src="images/testImg.jpg"/>
                <div class="divWorkIntro">
                    <p class="pWorkIntro">消消乐</p>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
