<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Scratch++ 登录 </title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>

<div class="divHeader">
    <div class="divTitle">
        <p>Scratch++</p>
    </div>
    <div class="divDir">
        <span>首页</span>
        <span>课程</span>
        <span>作品集</span>
        <span>创作</span>
    </div>
    <div class="divMascot">
        <img src=""/>
    </div>
    <div class="divUserInfo">
        <small>登录/注册</small>
        <img class="imgPortrait" src=""/>
    </div>
</div>
<div class="divMainBody">
    <form>
        <div class="divOptions">
            <a href="#top">登录</a>
            <a href="#top">注册</a>
        </div>
        <div class="divInputBlanks">
            <p class="pLoginReminder">邮箱/手机号码</p>
            <input type="text" name="email_cellphone"/>
            <p class="pLoginReminder">密码</p>
            <input type="password" name="password"/>
        </div>
        <div class="divSubmit">
            <button type="submit">确认</button>
        </div>
    </form>
</div>
<div class="divRightFloat">
    <div class="divWeChatLogin">
        <img class="imgLoginIcon" src=""/>
        <p class="pLoginText">微信登录</p>
    </div>
    <div class="divQQLogin">
        <img class="imgLoginIcon" src=""/>
        <p class="pLoginText">QQ登录</p>
    </div>
</div>

</body>
</html>
