<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Scratch++ 登录 </title>

    <link rel='stylesheet' href='/stylesheets/thirdLogin.css'/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap-theme.css"/>

    <script src="/plugins/jquery-3.2.1.min.js"></script>
    <!--<script src="/plugins/jquery.arctext.js"></script>-->
    <!--<script src="/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>-->
    <script src="/javascripts/thirdLogin.js"></script>

</head>
<body>

<div>
    <div class="divWeChatLogin">
        <a href="#top">
            <img class="imgLoginIcon" src="images/weChat.png"/>
            <span class="spanLoginText">微信登录</span>
        </a>
    </div>
    <div class="divQQLogin">
        <a href="#top">
            <img class="imgLoginIcon" src="images/QQ.png"/>
            <span class="spanLoginText">QQ登录</span>
        </a>
    </div>
</div>




</body>
</html>
